@model CreateEmployeeDto

<h1> You Are Going To Delete This Employee !! </h1>

<form asp-action="Delete">
	<div>
		<h4>Are you sure you want to delete this employee?</h4>
		<hr />
		<partial name="EmployeePartialView/_DeleteDetailsPartialView" />
		<input asp-for="ImageName" hidden />
	</div>
	<div>
		<input type="submit" value="Delete" class="btn btn-danger" /> |
		<a asp-action="Index" class="btn btn-secondary">Back To List</a>
	</div>
</form>

