@model CreateEmployeeDto
@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-center">Edit Employee</h1>
<br />
<br />

<form asp-action="Edit" enctype="multipart/form-data">
    <partial name="EmployeePartialView/_CreateEditPartialView" />
    <input asp-for="ImageName" hidden />
    <div>
        <input type="submit" class="btn btn-success" value="Save Changes" /> |
        <a asp-action="Index" class="btn btn-secondary">Back to list</a>
    </div>
</form>

@section ValidationScript {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
