@model CreateDepartmentDto
@{
	ViewData["Title"] = "Create";
}

<h1>Create Department</h1>

<br />
<br />

<form asp-action="Create">
	<div class="my-3">
		<label class="col-form-label" asp-for="Code"></label>
		<input class="form-control" asp-for="Code" />
		<span asp-validation-for="Code" class="text-danger"></span>
	</div>
	<div class="my-3">
		<label class="col-form-label" asp-for="Name"></label>
		<input class="form-control" asp-for="Name" />
		<span asp-validation-for="Name" class="text-danger"></span>
	</div>
	<div class="my-3">
		<label class="col-form-label" asp-for="CreateAt"></label>
		<input class="form-control" asp-for="CreateAt" />
		<span asp-validation-for="CreateAt" class="text-danger"></span>
	</div>
	<input type="submit" class="btn btn-success my-3" value="Submit" /> |
	<a asp-controller="Department" asp-action="Index" class="btn btn-secondary my-3">Back to list</a>

</form>

