@model ForgetPasswordDto
@{
	ViewData["Title"] = "ForgotPassword";
	Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="container">
	<header>Forget Password Form</header>
	<form asp-action="SendResetPasswordSms">
		<div class="field email-field">
			<div class="input-field">
				<input type="email" asp-for="Email" placeholder="Enter your email" class="email" required />
			</div>
		</div>
		<div class="input-field button">
			<input type="submit" value="Reset Now" />
		</div>
	</form>
</div>

@section ValidationSection {
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

