@model ResetPasswordDto
@{
	ViewData["Title"] = "ResetPassword";
	Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="container">
	<header>Reset Password Form</header>
	<form asp-action="ResetPassword">
		<div class="field create-password">
			<div class="input-field">
				<input type="password" asp-for="NewPassword" placeholder="Password" class="password" required />
				<i class="bx bx-hide show-hide"></i>
			</div>
		</div>
		<div class="field confirm-password">
			<div class="input-field">
				<input type="password" asp-for="ConfirmNewPassword" placeholder="Confirm Password" class="cPassword" required />
				<i class="bx bx-hide show-hide"></i>
			</div>
		</div>
		<div class="input-field button">
			<input type="submit" value="Reset Password Now" />
		</div>
	</form>
</div>

@section ValidationSection {
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
