@model ResetPasswordDto
@{
	ViewData["Title"] = "ResetPassword";
	Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<header>Reset Password Form</header>
	<form asp-action="ResetPassword">
		<div class="row mb-3">
			<div class="col-12">
				<div class="field create-password">
					<div class="input-field">
						<input type="password" asp-for="NewPassword" placeholder="Password" class="password form-control" required />
						<i class='bx bx-lock-alt'></i>
						<i class="bx bx-hide show-hide"></i>
					</div>
					<span asp-validation-for="NewPassword" class="text-danger"></span>
					<div class="error error-txt">
						<i class='bx bx-error-circle error-icon'></i>
						<p>Password must be at least 8 characters</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row mb-3">
			<div class="col-12">
				<div class="field create-password">
					<div class="input-field">
						<input type="password" asp-for="ConfirmNewPassword" placeholder="Password" class="password form-control" required />
						<i class='bx bx-lock-alt'></i>
						<i class="bx bx-hide show-hide"></i>
					</div>
					<span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
					<div class="error error-txt">
						<i class='bx bx-error-circle error-icon'></i>
						<p>Password must be at least 8 characters</p>
					</div>
				</div>
			</div>
		</div>
		<div class="input-field button">
			<input type="submit" value="Reset Password Now" />
		</div>
	</form>

@section ValidationSection {
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
