@model SignUpDto
@{
	ViewData["Title"] = "SignUp";
	Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<!-- partial:index.partial.html -->
<header class="mb-4">Sign Up Form</header>

<form asp-action="SignUp">
	<!-- Name Fields - Bootstrap Grid -->
	<div class="row mb-3">
		<div class="col-md-6 mb-3 mb-md-0">
			<div class="field name-field">
				<div class="input-field">
					<input type="text" asp-for="FirstName" placeholder="Enter your First Name" class="name form-control" required />
					<i class='bx bx-user'></i>
				</div>
				<div class="error error-txt">
					<i class='bx bx-error-circle error-icon'></i>
					<p>First name is required</p>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="field name-field">
				<div class="input-field">
					<input type="text" asp-for="LastName" placeholder="Enter your Last Name" class="name form-control" required />
					<i class='bx bx-user'></i>
				</div>
				<div class="error error-txt">
					<i class='bx bx-error-circle error-icon'></i>
					<p>Last name is required</p>
				</div>
			</div>
		</div>
	</div>

	<!-- Username Field -->
	<div class="row mb-3">
		<div class="col-12">
			<div class="field username-field">
				<div class="input-field">
					<input type="text" asp-for="UserName" placeholder="Enter your Username" class="username form-control" required />
					<i class='bx bx-user-circle'></i>
				</div>
				<div class="error error-txt">
					<i class='bx bx-error-circle error-icon'></i>
					<p>Username must be at least 3 characters</p>
				</div>
			</div>
		</div>
	</div>

	<!-- Email Field -->
	<div class="row mb-3">
		<div class="col-12">
			<div class="field email-field">
				<div class="input-field">
					<input type="email" asp-for="Email" placeholder="Enter your email" class="email form-control" required />
					<i class='bx bx-envelope'></i>
				</div>
				<div class="error error-txt">
					<i class='bx bx-error-circle error-icon'></i>
					<p>Enter a valid email address</p>
				</div>
			</div>
		</div>
	</div>

	<!-- Phone Field -->
	<div class="row mb-3">
		<div class="col-12">
			<div class="field phone-field">
				<div class="input-field">
					<input type="tel" asp-for="PhoneNumber" placeholder="Enter your phone number" class="phone form-control" required />
					<i class='bx bx-phone'></i>
				</div>
				<div class="error error-txt">
					<i class='bx bx-error-circle error-icon'></i>
					<p>Enter a valid phone number</p>
				</div>
			</div>
		</div>
	</div>

	<!-- Password Fields - Bootstrap Grid -->
	<div class="row mb-3">
		<div class="col-md-6 mb-3 mb-md-0">
			<div class="field create-password">
				<div class="input-field">
					<input type="password" asp-for="Password" placeholder="Password" class="password form-control" required />
					<i class='bx bx-lock-alt'></i>
					<i class="bx bx-hide show-hide"></i>
				</div>
				<div class="error error-txt">
					<i class='bx bx-error-circle error-icon'></i>
					<p>Password must be at least 8 characters</p>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="field confirm-password">
				<div class="input-field">
					<input type="password" asp-for="ConfirmPassword" placeholder="Confirm Password" class="cPassword form-control" required />
					<i class='bx bx-lock-alt'></i>
					<i class="bx bx-hide show-hide"></i>
				</div>
				<div class="error error-txt">
					<i class='bx bx-error-circle error-icon'></i>
					<p>Passwords don't match</p>
				</div>
			</div>
		</div>
	</div>

	<!-- Form Links -->
	<div class="row mb-3">
		<div class="col-12">
			<div class="links d-flex justify-content-between">
				<a asp-action="ForgotPassword" class="text-decoration-none">Forgot Password</a>
				<a asp-action="SignIn" class="text-decoration-none">Login</a>
			</div>
		</div>
	</div>

	<!-- Signup Button -->
	<div class="row mb-3">
		<div class="col-12">
			<div class="button">
				<input type="submit" value="Signup Now" class="btn w-100" />
			</div>
		</div>
	</div>

	<!-- Divider -->
	<div class="row mb-3">
		<div class="col-12">
			<div class="divider">
				<span>OR</span>
			</div>
		</div>
	</div>

	<!-- Social Signup Buttons - Bootstrap Grid -->
	<div class="row">
		<div class="col-md-6 mb-3">
			<a asp-action="GoogleLogin" class="btn-google d-flex align-items-center justify-content-center">
				<i class="fab fa-google me-2"></i>
				<span>Signup with Google</span>
			</a>
		</div>
		<div class="col-md-6 mb-3">
			<a asp-action="FacebookLogin" class="btn-facebook d-flex align-items-center justify-content-center">
				<i class="fab fa-facebook-f me-2"></i>
				<span>Signup with Facebook</span>
			</a>
		</div>
	</div>
</form>


@section ValidationSection {
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
	<script src="~/js/script1.js"></script>
	<script src="~/js/script2.js"></script>
}