@model RoleToReturnDto
@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center">Create New Role</h1>
<br />
<br />


<form asp-action="Create" enctype="multipart/form-data">


    <partial name="RolePartialView/_CreateEditPartialView" />
    <div>
        <input type="submit" class="btn btn-success" value="Create" /> |
        <a asp-action="Index" class="btn btn-light">Back to list</a>
    </div>

</form>

@section ValidationScript {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
